<a href="https://colab.research.google.com/github/bhargavsai2001/codes/blob/main/S4DSS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

1.	Loading data & cleaning

In [2]:
hospital_ratings = pd.read_csv('/content/Hospital General Information.csv', encoding="ISO-8859-1")
hospital_ratings

      Provider ID  ... Efficient use of medical imaging national comparison footnote
0           10001  ...                                                NaN
1           10005  ...                                                NaN
2           10006  ...                                                NaN
3           10007  ...  Results are not available for this reporting p...
4           10008  ...  Results are not available for this reporting p...
...           ...  ...                                                ...
4807       670118  ...  Results are not available for this reporting p...
4808       640001  ...  Results are not available for this reporting p...
4809       650001  ...  Results are not available for this reporting p...
4810       650003  ...  Data are shown only for hospitals that partici...
4811       660001  ...  Results are not available for this reporting p...

[4812 rows x 28 columns]

In [3]:
hospital_ratings.isnull()

      Provider ID  ...  Efficient use of medical imaging national comparison footnote
0           False  ...                                               True
1           False  ...                                               True
2           False  ...                                               True
3           False  ...                                              False
4           False  ...                                              False
...           ...  ...                                                ...
4807        False  ...                                              False
4808        False  ...                                              False
4809        False  ...                                              False
4810        False  ...                                              False
4811        False  ...                                              False

[4812 rows x 28 columns]

In [4]:
hospital_ratings.isnull().sum()
hospital_ratings.notnull()

      Provider ID  ...  Efficient use of medical imaging national comparison footnote
0            True  ...                                              False
1            True  ...                                              False
2            True  ...                                              False
3            True  ...                                               True
4            True  ...                                               True
...           ...  ...                                                ...
4807         True  ...                                               True
4808         True  ...                                               True
4809         True  ...                                               True
4810         True  ...                                               True
4811         True  ...                                               True

[4812 rows x 28 columns]

2.	Hospital Analysis-‘Hospital Type’ by ‘Ownership’

In [6]:
dff=hospital_ratings.groupby(['Hospital Ownership','Hospital Type']).size().unstack().fillna(0)
dff

Hospital Type                                Acute Care Hospitals  ...  Critical Access Hospitals
Hospital Ownership                                                 ...
Government - Federal                                         37.0  ...                        8.0
Government - Hospital District or Authority                 273.0  ...                      287.0
Government - Local                                          176.0  ...                      231.0
Government - State                                           50.0  ...                       12.0
Physician                                                    65.0  ...                        3.0
Proprietary                                                 725.0  ...                       67.0
Tribal                                                        5.0  ...                        4.0
Voluntary non-profit - Church                               278.0  ...                       64.0
Voluntary non-profit - Other                                359.0  ...                       87.0
Voluntary non-profit - Private                             1401.0  ...                      581.0

[10 rows x 3 columns]

3.	Total number of Hospitals in each ‘State’

In [7]:
df2 = hospital_ratings.groupby(['State']).size()
df2

State
AK     22
AL     90
AR     75
AS      1
AZ     80
CA    343
CO     78
CT     31
DC      8
DE      7
FL    187
GA    133
GU      2
HI     23
IA    116
ID     41
IL    180
IN    120
KS    137
KY     94
LA    121
MA     64
MD     49
ME     33
MI    131
MN    131
MO    112
MP      1
MS     95
MT     62
NC    107
ND     44
NE     89
NH     26
NJ     66
NM     41
NV     35
NY    171
OH    168
OK    124
OR     60
PA    171
PR     52
RI     11
SC     60
SD     60
TN    107
TX    411
UT     46
VA     86
VI      2
VT     14
WA     91
WI    126
WV     49
WY     28
dtype: int64

4.	County wise hospital numbers in ‘TX’

In [8]:
df3= hospital_ratings[hospital_ratings['State'] == 'TX']
df3

      Provider ID  ... Efficient use of medical imaging national comparison footnote
3954       450002  ...                                                NaN
3955       450007  ...                                                NaN
3956       450010  ...                                                NaN
3957       450011  ...                                                NaN
3958       450015  ...                                                NaN
...           ...  ...                                                ...
4803       670114  ...  Results are not available for this reporting p...
4804       670115  ...  Data are shown only for hospitals that partici...
4805       670116  ...  Results are not available for this reporting p...
4806       670117  ...  Results are not available for this reporting p...
4807       670118  ...  Results are not available for this reporting p...

[411 rows x 28 columns]

5.	Distribution of ‘Hospital Type’ and ‘Ownership in Texas’

In [9]:
distri=hospital_ratings[['State','Hospital Ownership']]
distri1 = distri[hospital_ratings['State'] == 'TX']
distri1

     State                           Hospital Ownership
3954    TX                                  Proprietary
3955    TX               Voluntary non-profit - Private
3956    TX               Voluntary non-profit - Private
3957    TX               Voluntary non-profit - Private
3958    TX  Government - Hospital District or Authority
...    ...                                          ...
4803    TX                                  Proprietary
4804    TX                                  Proprietary
4805    TX  Government - Hospital District or Authority
4806    TX                                  Proprietary
4807    TX                                  Proprietary

[411 rows x 2 columns]

6.	Find ‘Timeliness of care national comparison footnote’ and its ‘hospital’

In [11]:
time= pd.crosstab(hospital_ratings['Hospital Name'],hospital_ratings['Timeliness of care national comparison footnote']=='Above the national average')
time

Timeliness of care national comparison footnote  False
Hospital Name
ABBEVILLE AREA MEDICAL CENTER                        1
ABBEVILLE GENERAL HOSPITAL                           1
ABBOTT NORTHWESTERN HOSPITAL                         1
ABILENE REGIONAL MEDICAL CENTER                      1
ABINGTON MEMORIAL HOSPITAL                           1
...                                                ...
YORK HOSPITAL                                        2
YUKON KUSKOKWIM DELTA REG HOSPITAL                   1
YUMA DISTRICT HOSPITAL                               1
YUMA REGIONAL MEDICAL CENTER                         1
ZUNI COMPREHENSIVE COMMUNITY HEALTH CENTER           1

[4623 rows x 1 columns]

7.	‘Hospital rating’

In [12]:
ratings = hospital_ratings[['Hospital Name', 'Hospital overall rating']]
ratings

                         Hospital Name Hospital overall rating
0     SOUTHEAST ALABAMA MEDICAL CENTER                       3
1        MARSHALL MEDICAL CENTER SOUTH                       3
2       ELIZA COFFEE MEMORIAL HOSPITAL                       2
3             MIZELL MEMORIAL HOSPITAL                       2
4          CRENSHAW COMMUNITY HOSPITAL                       3
...                                ...                     ...
4807              FIRST TEXAS HOSPITAL           Not Available
4808       LBJ TROPICAL MEDICAL CENTER           Not Available
4809  GUAM MEMORIAL HOSPITAL AUTHORITY                       3
4810        GUAM REGIONAL MEDICAL CITY           Not Available
4811        COMMONWEALTH HEALTH CENTER           Not Available

[4812 rows x 2 columns]

8.	Find ‘Acute Care Hospitals’ with rating (4) along with ’ state’.

In [13]:
Acute=hospital_ratings.loc[(hospital_ratings["Hospital Type"]=="Acute Care Hospitals") &(hospital_ratings["Hospital overall rating"]=="4"),["State"]]
Acute

     State
10      AL
11      AL
14      AL
15      AL
17      AL
...    ...
4777    TX
4779    TX
4780    TX
4782    TX
4784    TX

[724 rows x 1 columns]

9.	Which type of hospitals has highest ‘Non-availability’ of ‘Safety of Care data’?

In [16]:
#Non_available_data=Safety_NotAvailable.groupby('Hospital Type')['Safety of care national comparison'].count()
Non_available_data=hospital_ratings.groupby('Hospital Type')['Safety of care national comparison'].count()
Non_available_data.sort_values(ascending=False)

Hospital Type
Acute Care Hospitals         3369
Critical Access Hospitals    1344
Childrens                      99
Name: Safety of care national comparison, dtype: int64

10.	What are the different types of ‘Patient experience national comparison’ and list their ‘Provider ID’?

In [15]:
dfnew=hospital_ratings.groupby('Safety of care national comparison')[['Provider ID']].count()
dfnew

                                    Provider ID
Safety of care national comparison
Above the national average                  786
Below the national average                  664
Not Available                              2168
Same as the national average               1194